<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<h1>About Page</h1>
<a href="{% url 'home' %}" class="btn btn-success">Home</a>

<br>
<h2>Hello! I'm Abubakar. I am a Python and Django Web developer.  </h2>
<br>
<p>This app is all about how to generate random unique Password.</p>
<p>First select your password length then click on your choice whether include uppercase letters,numbers,special characters.</p>
<p>Click on generate password button then your unique password is generated</p>